<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product"  *ngFor="let product of productTab">
    <div class="img_box"  [routerLink]="['/tabs/', 'products', product.id]">
      <img src="http://chezgaelle.herokuapp.com/images/products/{{ product.picture_slug }}">
      <!-- <img src="http://127.0.0.1:8000/images/products/{{ product.picture_slug }}"> -->
    </div>
    <div class="infos" [routerLink]="['/tabs/', 'products', product.id]" >
      <h1 class="productTitle">{{ product.name }}</h1>
      <p class="productCategory" >{{ product.category }}</p>
      <p class="productPrice" >{{ product.price }} €</p>
    </div>
    <div class="actions">
      <div class="chooseQuantity">
        <button type="button"><ion-icon name="remove-outline" (click)="decrement(product)"></ion-icon></button>
        <input type="number" class="quantity" value="{{ product.currentQuantity }}">
        <button type="button"><ion-icon name="add-outline" (click)="increment(product)" ></ion-icon></button>
      </div>
      <button class="cartButton" (click)="addToCart(product)" >
        <ion-icon name="cart"></ion-icon>Add
      </button>
    </div>
  </div>
</ion-content>
