<ion-header>
  <ion-toolbar>
    <ion-title>productDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="information">
    <div>
      <img src="http://chezgaelle.herokuapp.com/images/products/{{ information.picture_slug }}">
      <!-- <img src="http://127.0.0.1:8000/images/products/{{ information.picture_slug }}"> -->
    </div>
    <h1 class="productTitle">{{ information.name }}</h1>
    <h3 class="productPrice">{{ information.price }} €</h3>
    <h3>{{ information.category_id }}</h3>
  </ion-card>
</ion-content>